@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');


/* IMPOSTAZIONI GENERALI */

body {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    line-height: 30px;
}

h1 {
    color: white;
    font-size: 30px;
    line-height: 43px;
}

h2 {
    color: #007693;
    font-weight: 600;
    margin: 30px;
    font-size: 28px;
}

h1,
h2 {
    font-family: 'Raleway', sans-serif;
    text-align: center;
    text-transform: uppercase;
}

h3 {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 15px;
}

p {
    margin-top: 10px;
    margin-bottom: 10px;
}

a {
    color: #D26052;
}

hr {
    border-top: 1px dashed #353535;
    margin: 10px;
    margin-top: 30px;
    margin-bottom: 40px;
}

b {
    font-weight: bold;
}

.trasparente {
    border: transparent;
    margin: 0px;
}


/* HEADER */

header {
    background-color: #00A0C6;
    padding: 30px;
    border-bottom: 5px solid #007693;
}

#nomeTitolo {
    background-color: white;
    color: #00A0C6;
}

#sottotitolo {
    text-transform: capitalize;
    color: black;
    font-weight: 400;
    font-size: 19px;
    margin-bottom: 5px;
    font-variant: small-caps;
}


/* MAIN */

main {
    margin: 20px;
}

strong {
    color: #007693;
}

mark {
    color: white;
    background-color: #007693;
}


/* ELEMENTI NEL MAIN */

section {
    margin-top: 30px;
    margin-bottom: 40px;
    padding-bottom: 10px;
}

figure {
    text-align: center;
}

#mainimage {
    padding: 10px;
    border: 1px solid #D8D8D8;
}

address {
    margin: 20px 0px;
}

blockquote {
    margin-top: 25px;
    margin-bottom: 10px;
    padding: 20px 25px 35px 10px;
    background-color: #E3E3E3;
    border-radius: 15px;
    font-style: italic;
    text-align: right;
}

ul{
    padding-top: 10px;
    margin-left: 60px;
}

li {
    list-style-type: disc;
    line-height: 35px;
}

dd {
    margin-left: 40px;
    padding-top: 3px;
    padding-bottom: 5px;
}


/* FOOTER */

footer {
    background-color: #353535;
    color: white;
    text-align: center;
    font-size: 15px;
    margin-top: 0px;
    border-top: 5px solid #00A0C6;
}

small {
    color: #989A9A;
}

kbd {
    color: yellow;
    font-weight:bold;
    font-style: italic;
}